@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full bg-bg text-text;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #465067;
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background: #0f1115;
}
